@media screen and (max-width: 767px) {
    .navigation {
            display: none;
        }
    
        .adress-container {
            display: none;
        }
        
        .backdrop {
            display: none;
        }
                .page-header {
                    padding-top: 17.5px;
                    padding-bottom: 17.5px;
                }

        .open-mobile-menu-botton {
                    border: none;
                    background-color: transparent;
                    padding: 0;
                    line-height: 0;
                }
        
                .open-mopile-menu-svg {
                    fill: #2F2F37;
                }
        
                .mobile-menu {
                    position: fixed;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #FFF;
                    z-index: 9999999;
                    transform: translateX(100%);
                    transition: transform 250ms ease-out;
                    padding-top: 24px;
                    padding-left: 16px;
                    padding-right: 24px;
                    padding-bottom: 40px;
                }
        
                .mobile-menu.is-open {
                    transform: translateX(0%);
                }
        
                .btn-mobile-menu-close {
                    border: none;
                    line-height: 0;
                    padding: 0;
                    position: absolute;
                    top: 24px;
                    right: 24px;
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #FFF;
                    border: 1px solid #E7E9FC;
                    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
        
                .btn-mobile-menu-close-icon {
                    fill: #2E2F42;
                }
        
                .mobile-nav {
                    margin-top: 72px;
        
                }
        
                .mobile-navigation-item {
                    margin-bottom: 40px;
        
                }
        
                .mobile-navigation-item:last-child {
                    margin-bottom: 0;
                }
        
                .mobile-navigation-link {
                    color: var(--OCEAN, #2E2F42);
                    font-size: 36px;
                    font-weight: 700;
                    line-height: 1.11;
                    letter-spacing: 0.02em;
                    text-transform: capitalize;
                }
        
                .mobile-adres {
                    margin-top: 168px;
                }
        
                .mobile-adress-link {
                    color: var(--SLATE, #434455);
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 1.2;
                    letter-spacing: 0.02em;
                    font-style: normal;
                }
        
                .menu-mobile-icons {
                    padding-top: 48px;
                }
        
                .mobile-menu-icons-social {
                    display: flex;
                    gap: 40px;
                }
        
                .mobile-menu-svg {
                    fill: #F4F4FD;
                    
                }
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: #4d5ae5;
}
.span {
    color: #2e2f42;}

        .page-header-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            j
        }

.backdrop {
    position: fixed;
    padding: 72px 24px 24px 24px;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    border-radius: 4px;
    background-color: #FCFCFC;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.close-botton-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2E2F42;
    stroke: (0, 0, 0, 0.10);
}

.close-botton {
    border: none;
    background-color: transparent;
    line-height: 0;
    padding: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    fill: #2E2F42;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-botton:hover,
.close-botton:focus {
    fill: #FFFFFF;
    background-color: #404bbf;
    border: none;
}

.close-botton:focus .close-botton-icon {
    fill: #FFFFFF;
}

.close-botton:hover .close-botton-icon {
    fill: #FFFFFF;
}

.form-description {
    color: #2E2F42;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 360px;
    margin-bottom: 16px;
}

.form-field-wrapper {
    margin-bottom: 8px;

}

.form-field-label {
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.04em;
    display: block;
    margin-bottom: 4px;
    line-height: 1.17;

}

.form-input-wrapper {
    position: relative;

}

.form-field-input {
    width: 100%;
    background-color: transparent;
    outline: transparent;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-input:focus {
    border: 1px solid #4D5AE5;
    outline: transparent;
}

.form-field-input:focus+.form-field-icon {
    fill: #4D5AE5;
}

.form-field-icon {
    fill: #2E2F42;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-coment {
    display: block;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding-top: 8px;
    padding-left: 16px;
    padding-bottom: 8px;
    padding-right: 16px;
    resize: none;
    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-coment::placeholder {
    color: rgba(46, 47, 66, 0.40);
}

.form-coment:focus {
    border: 1px solid #4D5AE5;
    outline: transparent;
}

.form-field-coment-container {
    margin-bottom: 16px;
}

.input-checkbox-label {
    color: #8E8F99;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.17;
}

.own-checkbox {
    margin-right: 8px;
}

.own-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

input:checked+label>span {
    background-color: #404bbf;
    ;
    border: none;
    fill: #F4F4FD;
}

.input-checkbox-wrapper {
    margin-bottom: 24px
}

.privasy-link {
    color: #4d5ae5;
    line-height: 16px;
    letter-spacing: 0.48px;
    text-decoration-line: underline;
}

.button-submit {
    color: #FFF;
    font-weight: 500;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    height: 56px;
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 24px;
    min-width: 169px;
    line-height: 1.5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-submit:hover,
.button-submit:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
.open-mobile-menu-botton {
    display: none;
}
.mobile-menu {
    display: none;
}

.page-header-container {
    justify-content: space-between;
}

.logo-mar {
    margin-right: 120px;
}
nav {
    display: flex;
    align-items: center;
}
.navigation {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    display: flex;
    gap: 40px;
}

.link-box {
    display: block; }

.active::after {
    content: '';
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background: #404BBF;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: -1px;
    left: 0;
    }


    .adresa {
    font-style: normal;
    margin-left: auto;
    }

    .adress-container {
    gap: 40px;
    }

    .contact {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contact:hover,
    .contact:focus {
    color: #404bbf;
    }

    .content-back {
    background: #2E2F42;
    }

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.site {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}


@media screen and (min-width: 1158px){
.open-mobile-menu-botton {
            display: none;
        }
    
.mobile-menu {
            display: none;
        }
    
.page-header-container {
            justify-content: space-between;
        }
    
.logo-mar {
            margin-right: 120px;
        }
    
.nav {
            display: flex;
            align-items: center;
        }

.logo-mar {
            margin-right: 76px;
        }

.navigation {
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.32px;
            display: flex;
            gap: 40px;
        }

.link-box {
            display: block;
        }
    
.active::after {
            content: '';
            width: 48px;
            height: 4px;
            border-radius: 2px;
            background: #404BBF;
            display: block;
            margin-left: auto;
            margin-right: auto;
            position: absolute;
            bottom: -1px;
            left: 0;
        }

.adresa {
            font-style: normal;
            margin-left: auto;
        }
    
.adress-container {
            gap: 40px;
            display: flex;
        }
    
.contact {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.32px;
            color: #434455;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
.contact:hover,
.contact:focus {
            color: #404bbf;
        }
    
.content-back {
            background: #2E2F42;
        }
    
.page-header {
            border-bottom: 1px solid #e7e9fc;
            box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
        }
    
.site {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2e2f42;
            padding: 24px 0;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

}
