/*telepnone*/
@media screen and (max-width: 767px) {
.content-hero-background {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(/images/mobile-fon.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
.content {
    color: var(--WHITE, #FFF);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    width: 288px;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    padding-right: 40px;
    padding-left: 40px;
}

.button {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    background: #4D5AE5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 169px;
    height: 56px;
    min-width: 169px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
    background: #404BBF;
}
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px), screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
    .content-hero-background {
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
url(../../images/mobile-fon-2.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
max-width: 1440px;
margin-left: auto;
margin-right: auto; }
}

/*tablet*/
@media screen and (min-width: 768px) and (max-width: 1157px) {
.content-hero-background {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url(../../images/tablet-fon.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
.content {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.button {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    background: #4D5AE5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 169px;
    height: 56px;
    min-width: 169px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background: #404BBF;
}
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1157px), screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1157px), screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1157px){
    .content-hero-background {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../../images/tablet-fon-2.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
}


/*hero*/
@media screen and (min-width: 1158px) {
.content {
        color: #FFF;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 1.12px;
        max-width: 496px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
    }

    .button {
        color: #FFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.64px;
        background: #4D5AE5;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 169px;
        height: 56px;
        min-width: 169px;
        border: none;
        border-radius: 4px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .content-padding {
        padding: 188px 0;
    }

    .content-hero-background {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../../images/background.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px), screen and (min-resolution: 2dppx) and (min-width: 1158px), screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
.content-hero-background {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../../images/background-2.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
}

.link-selection:hover {
    color: #404BBF;
}

.active {
    color: #404bbf;
    position: relative;
}

