
/*mobile*/
@media screen and (max-width: 767px) {
.icon-content-container {
    display: none;
}
.content-main {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 8px;
}
.content-item {
    color: var(--SLATE, #434455);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 72px;
}
.advantages {
    width: 288px;}
}


/*tablet*/
@media screen and (min-width: 768px) and (max-width: 1157px) {
.icon-content-container {
        display: none;
}
.content-main {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.content-item {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.advantages {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
}

.advantages-list {
    width: calc((100% - 24px) /2);
}
}



/*hero*/
@media screen and (min-width: 1158px) {
.advantages {
        display: flex;
        gap: 24px;
    }

    .advantages-list {
        width: calc((100% - 72px) /4);
    }

    .content-main {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
        color: #2e2f42;
        margin-bottom: 8px;
    }

    .content-item {
        color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px;
    }

    .icon-content-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border: 1px solid #8E8F99;
        border-radius: 4px;
        margin-bottom: 8px;
    }

    .icon-content {
        width: 64px;
        height: 64px;
    }
}