    .container {
    width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width: 768px) {
    .container {
            width: 768px;
}
.section {
    padding-top: 96px;
    padding-bottom: 96px;
}
}

@media screen and (min-width: 1158px) {
.container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
}


